[submodule "master"]
	path = master
	url = https://github.com/shawkins/teiid-documents
	branch = master-gh-pages
[submodule "wildfly"]
	path = wildfly
	url = https://github.com/shawkins/teiid-documents
	branch = wildfly-gh-pages
[submodule "13.0.x"]
	path = 13.0.x
	url = https://github.com/shawkins/teiid-documents
	branch = 13.0.x-gh-pages
[submodule "7.6-13.0.x"]
	path = 7.6-13.0.x
	url = https://github.com/shawkins/teiid-documents
	branch = 7.6-13.0.x-gh-pages
